<div *ngIf="quiz" class="quiz">
    <h2>{{quiz.title}}</h2>
    <ul>
        <li>
            <label>Title:</label>
            <input (ngModel)="quiz.title" placeholder="{{quiz.title}}">
        </li>
        <li>
            <label>Description: </label>
            <textarea (ngModel)="quiz.description" placeholder="{{quiz.description}}"></textarea>
        </li>
    </ul>
    <div>
        <input type="button" value="Edit" (click)="onEdit()" />
        <input type="button" valye="Delete" (click)="onDelete()" />
    </div>
</div>
