<div class="side-nav">
   <a href="#" class="logo">
      <img src="/assets/Quiz_Maker.png" class="logo-img">
      <img src="/assets/icon.png" class="logo-icon">
   </a>
   <ul class='nav-links'>
      <li>
         <a [routerLink]="['/home']">
         <i class="fa-solid fa-house"></i>
         <p>Home</p>
         </a>
      </li>
      <li>
         <a [routerLink]="['/about']">
         <i class="fa-solid fa-circle-info"></i>
            <p>About</p>
         </a>
      </li>
      <li *ngIf="!this.authService.isLoggedIn()">
         <a [routerLink]="['/login']">
         <i class="fa-solid fa-right-to-bracket"></i>
         <p>Login</p>
         </a>
      </li>
      <li *ngIf="this.authService.isLoggedIn()">
         <a [routerLink]="['/quiz/create']">
         <i class="fa-solid fa-plus"></i>
         <p>Create quiz</p>
         </a>
      </li>
      <li *ngIf="this.authService.isLoggedIn()">
         <a (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Logout</p>
         </a>
      </li>
      <div class="active"></div>
   </ul>
</div>