textarea {
  border: 1px solid;
}
.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.btn {
  margin-top: 10px;
}
.btn-secondary {
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  width: 100% ; 
}

textarea {
  min-height: 100px;
}
.select {
  max-width: 200px;
}
.commands {
  margin-top: 20px;
}
